.card {
  padding: 0.5rem;
  background: #ef4c4c; /* fundo suave terroso */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.image {
  width: 100%;
  height: 320px; /* altura fixa corrigida */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #ffffff; /* marrom escuro */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  flex-grow: 1;
}

.description {
  font-size: 0.9rem;
  color: #ffe066; /* marrom mais claro */
}


/* Breakpoint para telas menores que 1600px */
@media (max-width: 1600px) {
  .card {
    padding: 0.4rem;
    height: 360px;
  }

  .title {
    font-size: 1rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .image {
    height: 260px;
  }
}

/* Breakpoint para telas menores que 1300px */
@media (max-width: 1300px) {
  .card {
    padding: 0.7rem;
    height: 420px;
  }

  .title {
    font-size: 1rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .image {
    height: 320px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .card {
    padding: 0.7rem;
    height: 400px;
  }

  .title {
    font-size: 1rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .image {
    height: 280px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .card {
    padding: 0.7rem;
    height: 400px;
  }

  .title {
    font-size: 1rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .image {
    height: 300px;
    width: 100%;
  }
}

/* Breakpoint para telas menores que 768px (tablets) */
@media (max-width: 768px) {
  .card {
    padding: 0.5rem;
    height: 320px;
    max-width: 270px;
  }

  .title {
    font-size: 0.8rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .image {
    height: 250px;
    width: 100%;
  }
}

/* Breakpoint para telas menores que 480px (móveis pequenos) */
@media (max-width: 480px) {
  .card {
    padding: 0.5rem;
    height: 260px;
  }

  .title {
    font-size: 0.6rem;
  }

  .description {
    font-size: 0.4rem;
  }

  .image {
    height:195px;
    margin-bottom: 0.1rem;
  }
}