.card {
  
  background: #2c2c34;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.3s;
  height: 100%;

  &:hover {
    transform: scale(1.02);
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    color: #80808a
  }
}