.main {
  padding: 2rem;
  margin-right: 200px;
  margin-left: 200px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}