.main { 
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 2rem;
    margin-left: 200px;
    margin-right: 200px;
    img {
      max-width: 100%;
      height: auto;      
    }
    
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

  p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .criticaBox {
    margin-bottom: 2rem;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    .movieImageBox {
      display: flex;
      margin: 2.5rem 0;
      width: 100%;
      justify-content: center;        
    
    }
  }

  .quotesScenesBox {
    margin-bottom: 3rem;
    h2 {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
    
    .cards {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      img {
        max-width: 100%;
        height: auto;
        margin: 0 1rem;
        margin-bottom: 0.5rem;
      }
    }
  }

}

.commentsBox{
    display: flex;
    width: 100%;
}