.card {
  display: flex;
  background: #2c2c34;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: transform 0.3s;
  width: 100%;
 

  &:hover {
    transform: scale(1.02);
  }

  .characterMovie {
    color: #a0a0a8;
  }

  p {
    font-size: 1rem;
  }

  .imageBox {
    flex-shrink: 1;
    justify-items: center;
    padding: 0.3rem;

  }
  .descriptionBox {
    width: 100%;
    align-content: center;
    justify-items: center;
    padding: 0.7rem;
  }
}

.image {
  object-fit: contain;
  margin-bottom: 0.5rem;
}